* {
    box-sizing: border-box;
  }
  
@font-face {
    font-family: "RIO";
    src: url("Rio2016-Light.ttf");
    
}

body{
    background-image: url(fondo2.png);
    
}

h1 {
    text-align: center;
    font-size: 50px;
    color: white;
}

html {
   
    font-family: RIO;
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controles {
    margin-top: 22%;
    margin-bottom: 20px;
    float: right;
    padding: 4%;
    background:rgba(0, 0, 0, 0.4);
    border-radius: 4%;
    border-style:hidden;
    border-color: black;
    
}

button {
    background: #e77a14;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 3%;
    border: 0;
    cursor: pointer;
    font-family: RIO;
    font-size: 25px;
    box-shadow: 0 9px #944e0d;
}




button:active {
background-color: #944e0d;
box-shadow: 0 5px #944e0d;
transform: translateY(4px);
}

.disabled {
    color: #757575;
    
}

.display {
    color: #282A3A;
    font-size: 25px;
    text-align: left; 
    color: white;
}

#d1{
    font-size: 34px;
    color: white;
}
.grid-container {
    position: relative;
    max-width: auto;
    margin: 0 auto;
    
  }

.tablero,
.win {
    border-radius: 5px;
    
    /* background: linear-gradient(135deg,  #6f00fc 0%,#fc7900 50%,#fcc700 100%); */
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.tablero {
    padding: 20px;
    display: grid;
    justify-content: left;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
}

.grid-container.flipped .tablero {
    transform: rotateY(180deg) rotateZ(50deg);
}

.grid-container.flipped .win {
    transform: rotateY(0) rotateZ(0);
}

.card {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.card-front,
.card-back {
    position: absolute;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    width: 100%;
    height: 100%;
    background-image: url("aros.png");
    background-color: white;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.card-back {
    font-size: 28pt;
    text-align: center;
    line-height: 100px;
    background: #f0d4ba;
    transform: rotateY(180deg) rotateZ(50deg);
    user-select: none;
}

.card.flipped .card-front {
    transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-back {
    transform: rotateY(0) rotateZ(0);
}

.win {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #f0d4ba;
    transform: rotateY(180deg) rotateZ(50deg);
}

.win-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21pt;
    color: #282A3A;
}

.highlight {
    color: #0e4fdb;
}

  
.fila{
  margin-bottom: 0%;
}


/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
float: left;
padding: 10px;
min-height: 500px;
}

/* Columna derecha*/ 
.derecha {
width: 35%;

}

/* Columna izquierda*/ 
.izquierda {
width: 65%;
text-align: center;

}

/* Clear floats despues de las columnas para eliminar la superposición */
.fila:after {
content: "";
display: table;
clear: both;
}

.iresponsive {
    padding: 0 6px;
    float: right;
    width: 80%;
    margin:0px auto;
  }

/* Responsive layout */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
    
}

@media screen and (max-width: 812px) {

  .iresponsive {
      width: 100%;
  }

  button {
    margin-bottom: 3%;
  }
  
}

@media screen and (max-width: 670px) {
 
  .iresponsive {
      width: 100%;
  }
  button {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
    button {
        margin-bottom: 3%;
      }
}

@media screen and (max-width: 330px) {
    .controles{
        float: center;
    }
    h1{
        padding-top: 4%;
        padding-left: 4%;
    }
}