/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }

/* Tipo de fuente externa*/

@font-face {
  font-family: "HARRYP__";
  src: url("HARRYP__.TTF");
  
}
  

body {
  font-family: "HARRYP__";
  background-color: black;
}

canvas {
    background-color: lightblue;
    background-image: url('fondo.jpg');
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
  }

p{
  margin:5%;
}

.boton {
  padding: 4%;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #d5e409;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #9ca706;
  font-family: "HARRYP__";
  margin: 6%;
}

.boton:hover {background-color: #9ca706;}

.boton:active {
  background-color: #9ca706;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

h1{
  text-align: center;
  font-size: 50px;
  border-color: rgb(229, 233, 4);
  color: rgb(229, 233, 4);
  margin: 0%;
  margin-top: 2%;
  background-color: black;
}


/* Cajas de la columna izquierda*/
.caja {
  width: 100%;
  height: auto;
  color: black;
  background-color: black;
  padding-top: 0%;
  padding-bottom: 5px;
  border-color: rgb(229, 233, 4);
  border-style: solid;
  border-width: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-right: 40px;
  text-align: center;
  font-size: 40px;
  color: rgb(229, 233, 4);
}





/*Efecto de movimiento en el texto del botón*/ 



/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
float: right;
padding: 10px;
min-height: 500px;
}

/* Columna derecha*/ 
.derecha {
width: 30%;
}

/* Columna izquierda*/ 
.izquierda {
width: 70%;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.fila:after {
content: "";
display: table;
clear: both;
}


/* Responsive */
.iresponsive {
    padding: 0 6px;
    float: left;
    width: 80%;
  }

/* Responsive layout */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
    
}

@media screen and (max-width: 812px) {

  .iresponsive {
      width: 100%;
  }
  
}

@media screen and (max-width: 670px) {
 
  .iresponsive {
      width: 100%;
  }
  
}

