/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }

/* Tipo de fuente externa*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bangers/v20/FeVQS0BTqb0h60ACH55Q2A.woff2) format('woff2');
  
}
  


canvas {
    background-color: lightblue;
    background-image: url('fondo.jpg');
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
  }



/* Caja frase_célebre*/
.caja_der {
  width: 100%;
  height: 100%;
  color: black;
  background-color: rgb(136, 227, 243);
  opacity: 0.9;
  padding-top: 0%;
  padding-bottom: 5px;
  border-color: black;
  border-style: solid;
  border-radius: 15%;
  border-width: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
}




/* Efecto de brillo*/
.caja_der:hover {
  opacity: 1.0;
}

/* Cajas de la columna izquierda*/
.caja {
  width: 100%;
  height: auto;
  color: black;
  background-color: rgb(136, 227, 243);
  opacity: 0.9;
  padding-top: 0%;
  padding-bottom: 5px;
  border-color: black;
  border-style: solid;
  border-width: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-right: 40px;
  text-align: center;
}

/* Efecto de brillo*/
.caja:hover {
  opacity: 1.0;
}




/*Efecto de movimiento en el texto del botón*/ 



/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
float: right;
padding: 10px;
min-height: 500px;
}

/* Columna derecha*/ 
.derecha {
width: 30%;
}

/* Columna izquierda*/ 
.izquierda {
width: 70%;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.fila:after {
content: "";
display: table;
clear: both;
}


/* Responsive */
.iresponsive {
    padding: 0 6px;
    float: left;
    width: 80%;
  }

/* Responsive layout */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
    
}

@media screen and (max-width: 812px) {

  .iresponsive {
      width: 100%;
  }
  
}

@media screen and (max-width: 670px) {
 
  .iresponsive {
      width: 100%;
  }
  
}

